[Unit]
Description=LiveLot Tracker
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/livelot-tracking/livelot-tracker/livelot-tracker.py
WorkingDirectory=/home/pi/livelot-tracking/livelot-tracker/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
